In [1]:
import pandas as pd

In [4]:
bus = pd.read_excel('../data_original/Headway Data, 8-1-2023 to 9-30-2023.xlsx', sheet_name = 'Sheet1')

In [5]:
weather = pd.read_csv('../data_original/bna_weather.csv')

In [8]:
bus.to_csv('../data_original/headway_data.csv') # so I never have to read in the excel file again (very slow)

In [6]:
bus.head()

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120230801,1,99457890,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,6.500000
1,120230801,1,99457891,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,9,0.000000
2,120230801,1,99457892,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,19,0.000000
3,120230801,1,99457893,2023-08-01,22,2200,1040,345104,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,35,0.000000
4,120230801,1,99457894,2023-08-01,22,2200,1040,345105,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,36,12.866666

In [7]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350328 entries, 0 to 350327
Data columns (total 30 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CALENDAR_ID                350328 non-null  int64
 1   SERVICE_ABBR               350328 non-null  int64
 2   ADHERENCE_ID               350328 non-null  int64
 3   DATE                       350328 non-null  datetime64[ns]
 4   ROUTE_ABBR                 350328 non-null  int64
 5   BLOCK_ABBR                 350328 non-null  int64
 6   OPERATOR                   350328 non-null  int64
 7   TRIP_ID                    350328 non-null  int64
 8   OVERLOAD_ID                350328 non-null  int64
 9   ROUTE_DIRECTION_NAME       350328 non-null  object
 10  TIME_POINT_ABBR            350328 non-null  object
 11  ROUTE_STOP_SEQUENCE        350317 non-null  float64
 12  TRIP_EDGE                  350328 non-null  int64
 13  LATITUDE                   350328 non-null  float64
 14  LONGITUDE                  350328 non-null  float64
 15  SCHEDULED_TIME             350328 non-null  object
 16  ACTUAL_ARRIVAL_TIME        338869 non-null  object
 17  ACTUAL_DEPARTURE_TIME      338860 non-null  object
 18  ADHERENCE                  338860 non-null  float64
 19  SCHEDULED_HDWY             274737 non-null  float64
 20  ACTUAL_HDWY                266061 non-null  float64
 21  HDWY_DEV                   265892 non-null  float64
 22  ADJUSTED_EARLY_COUNT       350328 non-null  int64
 23  ADJUSTED_LATE_COUNT        350328 non-null  int64
 24  ADJUSTED_ONTIME_COUNT      350328 non-null  int64
 25  STOP_CANCELLED             350328 non-null  int64
 26  PREV_SCHED_STOP_CANCELLED  279999 non-null  float64
 27  IS_RELIEF                  350328 non-null  int64
 28  BLOCK_STOP_ORDER           350328 non-null  int64
 29  DWELL_IN_MINS              338857 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(15), object(5)
memory usage: 80.2+ MB

Columns:
- CALENDAR_ID: related to date, but is there anything special about it? notice the 1 prepended
- SERVICE_ABBR: what does this represent
- ADHERANCE_ID: 
- DATE: date of the trip
- ROUTE_ABBR: is this the route number?
- BLOCK_ABBR: 
- OPERATOR: is this the id of the driver?
- TRIP_ID: 
- OVERLOAD_ID: 
- ROUTE_DIRECTION_NAME: in and outbound, Nashville is hub and spoke bus system so it all comes in and out of downtown
- TIME_POINT_ABBR: 
- ROUTE_STOPE_SEQUENCE: what stop (ordered, probably starting from downtown but confirm)
- TRIP_EDGE: 
- LATITUDE: part of bus location, no nulls (good sign)
- LONGITUDE: ditto what I said about latitude
- SCHEDULED_TIME: when the bus was scheduled to be at the particular stop? (indicated by ROUTE_STOP_SEQUENCE?)
- ACTUAL_ARRIVAL_TIME: when the bus got to the stop
- ACTUAL_DEPARTURE_TIME: when the bus left the stop
- ADHERANCE: this looks like it might be the time difference between when the bus was supposed to leave the stop and when it actually did
- SCHEDULED_HDWY: scheduled time between bus arrivals at the stop, why are there so many nulls?
- ACTUAL_HEADWAY: actual time between bus arrivals at the stop, many nulls
- HDWY_DEV: difference betwee scheduled and actual headway, many nulls
- ADJUSTED_EARLY_COUNT: 
- ADJUSTED_LATE_COUNT: 
- ADJUSTED_ONTIME_COUNT: I think these three columns are boolean for classifying timeliness (can tell for sure if one and only one has a value of 1 in each row which does look to be the case)
- STOP_CANCELLED: is this to indicate if the bus skipped the particular stop?
- PREV_SCHEDULED_STOP_CANCELLED: 
- IS_RELIEF: indicates replacement bus?
- BLOCK_STOP_ORDER:
- DWELL_IN_MINS: looks like how long the bus sat at that stop